/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
* {
    box-sizing: border-box;
}

html {
    font-size:1rem;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}
@font-face {
    font-family: "montserrat";
    src:
      url("../fonts/sans-serif/montserrat-regular.ttf") format("TrueType");
      font-weight: normal;
      font-style: normal;
  }

html {
    font-family: montserrat, Arial, Helvetica, sans-serif;
}

h1 {
    font-family: montserrat, Arial, Helvetica, sans-serif;
    font-size: 3.75rem;
    text-align: center;
    rotate:-5deg;
    margin-top: 0rem;
    margin-bottom: 6rem;
}

h1 span {
    background-color: darkred;
    padding: 0 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: beige;

}

nav {
    padding-left: 4rem;
    margin-top: .25;
    border-top: .125rem solid black;
    border-bottom: .125rem solid black;
    word-spacing: 4rem;
}
    
nav a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    display:inline;
    color: #29465B;
    font-family: montserrat, Arial, Helvetica, sans-serif;
}

nav #blog {
    color:black;
    text-decoration-line: line-through;
}


h2 {

    margin-top: 3.75rem;
    letter-spacing: .125rem;
    font-family: montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 4rem;
}

figure {
    margin-left: 4rem;
}

.box-1 {
    float:left;
    width: 26rem;
    height: 33rem;
}

.datetime {
    margin-left: 4rem;
    color: gray;
    font-size: .85rem;
}

h3 {
    font-size: 1rem;
    margin-left: 4rem;
}


p {
    font-size: 1rem;
    font-family: montserrat, Arial, Helvetica, sans-serif;
    margin-right: 22rem;
    margin-left: 4rem;
}

#photos-1 {
    max-width:100%;
    height:auto;
}

.column {
    float: left;
    width: 30%;
    margin: -3rem;
    margin-top: 3rem;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.subsection {
    margin-left: 3rem;
}

figcaption {
    background-color: beige;
    color: gray;
    font-size: .8rem;
    height:2.5rem;
    width: 17rem;
    padding: .53rem;
}

.verticalLine {
    border-left: .125rem solid black;
    height: 100rem;
}

.box-2 {
    float:left;
}

aside {
    font-family: montserrat, Arial, Helvetica, sans-serif;
    margin-right: 4rem;
    margin-left: 60rem;
    width: 40rem;
}
.box-3 {
    float:right;
    position: absolute;
    top: 24rem;
    right: -17rem;
    width: 40rem;
}

.p-1 {
    font-size: .8rem;
    margin-left: .5rem;
    margin-right: 25rem;
    color: gray;
}

.p-2 {
    font-size: .8rem;
    margin-left: .5rem;
    margin-right: 25rem;
    color: gray;
}

.p-3 {
    font-size: .8rem;
    margin-left: .5rem;
    margin-right: 25rem;
    color: gray;
}

h4 {
    font-size: 1rem; 
    margin-left: .5rem;
}

.dots {
    text-decoration: none;
    font-size: .5rem;
    margin-left: .5rem;
    margin-top: .5rem;
    padding-bottom: 2rem;
    margin-right: 25rem;
    border-bottom: .125rem solid black;
}
button {
    margin-top: 5rem;
    margin-left: 4rem;
    background-color:#274472;
    color:beige;
    border-radius: 1rem;
    height: 3.5rem;
    font-size: 2rem;
    width: 11rem;
}
#photos-2 {
    max-width:35%;
    height:auto;
    margin-left: .5rem;
}

.email {
    margin-top: 8rem;
    font-size: 1rem;
    text-decoration: none;
}

.email #link {
    text-decoration: none;
    color: gray;
}

.attribute {
    text-align: right;
    margin-right:2rem;
}

.attribute #photolink {
    text-decoration: none;
    color: gray;
}
